<!DOCTYPE html>
<html lang="fr">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mon application ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </head>
  <body ng-app="simulationApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Simulation de garagistes</span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Configurer les simulations</a></li>
            <li><a href="#">Lancer une simulation</a></li>
          </ul>
        </div
      </div>
    </nav>
    <div class="container">
      <div ng-view>
        @RenderSection("featured", required: false)
        @RenderBody()
      </div>
      <hr />
      <div class="footer">
        <p>par Claudia Tanase, Joris Girardot, Maxence Ory et Thomas Eschemann</p>
      </div>
    </div>
              @Scripts.Render("~/bundles/angular")
      @Scripts.Render("~/bundles/user")
        @RenderSection("scripts", required: false)
    </body>
</html>
